<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-9">
     <div>
       <a name="degree">Degree Overview</a>
       <md ng-include="'app/portfolio/university.md'"></md>
     </div>
     <div>
         <a name="group-project">Group Project</a>
         <div class="embed-responsive embed-responsive-16by9">
	         <iframe class="embed-responsive-item" src="//www.youtube.com/embed/u5qc96ImLSI" frameborder="0" allowfullscreen></iframe>
         </div>
      </div>
    </div>

    <div class="col-md-3 ">
        <div class="panel panel-info">
          <div class="panel-heading">
            <p><a ng-click="scrollTo('degree')">Degree Overview</a></p>
            <p><a ng-click="scrollTo('group-project')">Group Project</a></p>
          </div>
        </div>
        <div class="container-fluid">
            <polymer-github-chart user="RyanPSullivan"></polymer-github-chart>
        </div>
    </div>
  </div>
</div>
