<div class="container-fluid">
    <div class="panel panel-info">
      <div class="panel-heading">
        <p><a ng-click="scrollTo('degree')">Degree Overview</a></p>
        <p><a ng-click="scrollTo('group-project')">Group Project</a></p>
      </div>
    </div>

    <polymer-github-chart user="RyanPSullivan"></polymer-github-chart>

<div class="container-fluid">
    <a href="http://stackexchange.com/users/905193">
    <img src="http://stackexchange.com/users/flair/905193.png?theme=dark" width="220" height="60" alt="profile for RyanSullivan on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for RyanSullivan on Stack Exchange, a network of free, community-driven Q&amp;A sites">
    </a>
</div>
</div>
